/* your styles, here */
.top-links {
  position: sticky;
  top: 0;
  z-index: 1;
}

.jase{
  color:black;
}
.bottom {
  z-index: -1;
}

.nav-link {
  margin: 5px;
}

.topbar-responsive {
  background: #ea526f;
  padding: 1rem 1.5rem;
}

.topbar-responsive .topbar-responsive-logo {
  color: #fefefe;
  vertical-align: middle;
}

.topbar-responsive .menu {
  background: #ea526f;
}

.topbar-responsive .menu li:last-of-type {
  margin-right: 0;
}

.topbar-responsive .menu a {
  color: #fefefe;
  transition: color 0.15s ease-in;
}

.topbar-responsive .menu a:hover {
  color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu a {
    padding: 0.875rem 0;
  }
}

.topbar-responsive .menu .topbar-responsive-button {
  color: #fefefe;
  border-color: #fefefe;
  border-radius: 5000px;
  transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.topbar-responsive .menu .topbar-responsive-button:hover {
  color: #c6d1d8;
  border-color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu .topbar-responsive-button {
    width: 100%;
    margin: 0.875rem 0;
  }
}

#hidden {
  display: none;
}

#surrender-review {
  text-align: center;
  margin-top: 25px;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive {
    padding: 0.75rem;
  }
  .topbar-responsive .top-bar-title {
    position: relative;
    width: 100%;
  }
  .topbar-responsive .top-bar-title span {
    position: absolute;
    right: 0;
    border: 1px solid #fefefe;
    border-radius: 5px;
    padding: 0.25rem 0.45rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .topbar-responsive .top-bar-title span .menu-icon {
    margin-bottom: 4px;
  }
}

#topbar-site-title {
  text-decoration: none;
  color: #fefefe;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive-links {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    width: 100%;
    -webkit-animation: fadeIn 1s ease-in;
    animation: fadeIn 1s ease-in;
  }
}

.hero-section {
  background: url("images/gpsturts.jpg") 50% no-repeat;
  background-size: 60%;
  height: 35vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#hero-section-text {
  color: #ea526f;
  text-shadow: 1px 1px 2px #c6d1d8;
  text-align: center;
}

.featured-image-block-grid-header {
  margin-left: auto;
  margin-right: auto;
}

.featured-image-block {
  margin-bottom: 2em;
  text-align: center;
}

.featured-image-block .featured-image-block-title {
  font-weight: 600;
  margin-top: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  color: #404040;
  text-align: center;
}

.featured-image-block a:hover p {
  color: #ea526f;
}

.resizing-img {
  border: 2px solid #ea526f;
  border-radius: 20px;
  width: 31em;
  height: 30em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.portfolio-resume-scrolling-container {
  height: 400px;
  border: 1px solid #cacaca;
}

.portfolio-resume-overview {
  height: 400px;
  display: -webkit-flex;
  background-position: 100% 0;
  background-size:40%;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  opacity: 1;
  z-index: 0;
}

.portfolio-resume-overview-content {
  max-width: 300px;
  z-index: 1;
}

.portfolio-resume-scrolling {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media print, screen and (min-width: 40em) {
  .portfolio-resume-scrolling {
    height: 400px;
    overflow-y: auto;
  }
}

.test {
  border: black;
}

.pets-you-might-know {
  background-color: #fefefe;
  padding: 1rem 0 0;
  border: 1px solid #cacaca;
  box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.18);
}

.pets-you-might-know .add-pets-header {
  padding: 0 0.9375rem;
  border-bottom: 0.0625rem solid #cacaca;
}

.pets-you-might-know .add-pets-header {
  font-weight: bold;
  color: #ea526f;
  text-shadow: 1px 1px 2px #c6d1d8;
}

.header-title {
  font-weight: bolder;
  font-size: 2rem;
  color: #ea526f;
  text-shadow: 5px 5px 5px #c6d1d8;
}

.pets-you-might-know .add-pets-section {
  margin: 1rem 0 0;
  padding-bottom: 1rem;
  border-bottom: 0.0625rem solid #cacaca;
}

.pets-you-might-know .add-pets-section .about-pets {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.pets-you-might-know .add-pets-section .about-pets .about-pets-avatar {
  padding-right: 0.5rem;
  padding-left: 0;
}

.pets-you-might-know
  .add-pets-section
  .about-pets
  .about-pets-avatar
  .avatar-image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.0625rem solid #cacaca;
}

.pets-you-might-know .add-pets-section .about-pets .about-pets-author {
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
}

.pets-you-might-know
  .add-pets-section
  .about-pets
  .about-pets-author
  .author-name {
  color: #ea526f;
  font-weight: bold;
  margin: 0.375rem 0 0;
}

.pets-you-might-know
  .add-pets-section
  .about-pets
  .about-pets-author
  .author-location,
.pets-you-might-know
  .add-pets-section
  .about-pets
  .about-pets-author
  .author-mutual {
  color: #8a8a8a;
  margin-bottom: 0;
  font-size: 1.5;
}

.pets-you-might-know .add-pets-section .add-friend {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 39.9375em) {
  .pets-you-might-know .add-pets-section .add-friend {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.pets-you-might-know .add-pets-section .add-friend .add-friend-action {
  margin-top: 0.7rem;
}

.pets-you-might-know .view-more-pets {
  margin: 0.7rem 0;
}

.pets-you-might-know .view-more-pets .view-more-text {
  margin-bottom: 0;
  text-align: center;
}

.pets-you-might-know .view-more-pets .view-more-text .view-more-link {
  color: #1779ba;
}

.pets-you-might-know .view-more-pets .view-more-text .view-more-link:hover,
.pets-you-might-know .view-more-pets .view-more-text .view-more-link:focus {
  text-decoration: underline;
}

.bg-hide {
  display: none;
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  width: 30rem;
  height: 25rem;
  background-color: white;
  opacity: 1;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}

.image-resized {
  width: 100px;
  height: 90px;
  border-radius: 10px;
}

.admin-button {
  background-color: #ea526f;
  padding: 5px;
  border: white solid 1px;
  border-radius: 10px;
}
.alert-box {
  background-color: #ea526f;
  color: #fefefe;
  border-radius: 10px;
}

.form-format {
  padding: 3rem;
}

.pending-form-img {
  border: 2px solid #ea526f;
  border-radius: 20px;
  width: 30em;
  height: 30em;
  background-color: cadetblue;
}

.div-pending-pet-applicant {
  height: 13.5em;
}

.div-pending-button {
  height: 3em;
}
